<div class="row">
  
  <div class="medium-8 medium-centered columns">
    <br/>
    <h2 class="text-center francois">Sobre o Conselho da Juventude</h2>
    <br/><br/>
    <h3 class="francois">O que é o Conselho da Juventude?</h3>
    <p>
      O Conselho da Juventude da Cidade é uma via democrática de participação juvenil dentro da gestão municipal e constitui a oportunidade de construir a cidade que queremos direto com as secretarias e órgãos públicos municipais. Por meio do Conselho, cem jovens de 14 a 29 anos, de diferentes áreas do Rio de Janeiro, acompanharão a construção do Plano Estratégico da Prefeitura, com a função de monitorar, fiscalizar e emitir pareceres sobre os temas tratados pelas áreas técnicas.
    </p>


    <h3 class="francois">Sobre a votação?</h3>
    <p>
      Além da votação aqui no site do Conselho, 50 instituições (25 órgãos municipais e 25 organizações da sociedade civil) receberam a lista de inscritos, com as respectivas propostas, para avaliar de acordo com os seguintes critérios absolutos:
      <ol style="list-style-type: none">
        <li>► Gênero: 50% do Conselho será composto por homens e 50% por mulheres, cis ou transgêneros.</li>
        <li>► Faixa etária: 20% do Conselho deve ter entre 14 e 18 anos.<li>
        <li>► Representatividade que obedeça à distribuição demográfica do último Censo do IBGE:</li>
        <li>a)Centro, Rio Comprido, Ilha de Paquetá, São Cristóvão e Santa Teresa, Zona Portuária e demais bairros da região > 3 homens e 3 mulheres;</li>
        <li>b) Botafogo, Copacabana, Lagoa, Grande  Tijuca, Vila Isabel, Rocinha e demais bairros da Zona Sul > 7 homens e 7 mulheres;</li>
        <li>c) Maré, Inhaúma, Ilha do Governador, Penha, Ramos, Madureira, Méier, Irajá, Complexo do Alemão, Pavuna, Anchieta, Jacarezinho, Vigário Geral e demais bairros da Zona Norte > 19 homens e 19 mulheres; </li>
        <li>d) Jacarepaguá, Barra da Tijuca e Cidade de Deus > 7 homens e 7 mulheres;</li>
        <li>e) Campo Grande, Santa Cruz, Guaratiba, Bangu, Realengo e bairros restantes da Zona Oeste > 14 homens e 14 mulheres.</li>
        <li>► Candidatos e candidatas de outros municípios serão incluídos nas taxas das regiões da cidade conforme vivência  descrita na sua inscrição</li>
      </ol>
    </p>

    <br/>
    <br/>
    <hr/>
    <h4 class="francois text-center">Quer falar com a gente?</h4>
    <p class="text-center">
      Envie um email para <a href="mailto:contato@labrio.cc">contato@labrio.org</a>.
    </p>
  </div>



</div>
