<div class="row">
  
  <div class="medium-8 medium-centered columns">
    <br/>
    <h2 class="text-center francois">Sobre o Desafio Ágora Rio</h2>
    <br/><br/>
    <h3 class="francois">O que é o Desafio Ágora Rio?</h3>
    <p>
      É a plataforma de discussão e proposição de políticas públicas da Prefeitura do Rio de Janeiro, criada para promover a participação direta da sociedade por meio de desafios temáticos. Desta vez, o assunto em debate é a mobilidade urbana do Rio que queremos.
    </p>


    <h3 class="francois">Como acontece o Desafio?</h3>
    <p>
    Cada ciclo temático é composto de fases que se sucedem envolvendo as áreas técnicas da Prefeitura e a população. Os cidadãos e cidadãs fazem um cadastro na plataforma e são informados de cada novidade, bem como sobre a transição de cada fase. Conheça as etapas que já foram concluídas até o momento:
    <ol>
      <li>O engajamento foi a etapa inicial, na qual foram disponibilizados dados e informações, e os participantes puderam não apenas se embasar e discutir sobre o tema, mas também solicitar mais documentos à Prefeitura;</li>
      <li>No momento da proposição os participantes enviaram suas propostas e ideias;</li>
      <li>Na fase de curadoria, um Conselho de Curadores formado por entidades da sociedade civil e órgãos da Prefeitura sistematizou a essência das propostas da população, estruturando-as em 20 projetos que agora estão em fase de votação popular.</li>
    </ol>
    </p>



    <h3 class="francois">Como funciona a votação?</h3>
    <p>
    Até o dia 28 de junho está acontecendo a fase de votação. <u>Mesmo quem não participou das fases anteriores pode votar</u>. Funciona assim:
    <ol>
      <li>Dê uma olhada nos 20 projetos na página;</li>
      <li>Clique em “Ver mais” caso queria conhecer mais detalhes do projeto que o interessou;</li>
      <li>Escolha até 10 projetos clicando no botão “Selecionar”</li>
      <li>Quando estiver satisfeito, confirme a votação!</li>
    </ol>
    </p>


    <h3 class="francois">E o que será feito com os 10 projetos mais votados?</h3>
    <br/>
    <h5 class="francois">1. Envio ao grupo de trabalho do PMUS</h5>
    <p>
      Na fase final, de avaliação, os projetos vencedores serão enviadas ao grupo de trabalho que está desenvolvendo o Plano de Mobilidade Urbana Sustentável do Rio de Janeiro, para estudo de viabilidade técnica e possível incorporação ao documento. Trata-se do planejamento dos investimentos municipais em mobilidade urbana para os próximos dez anos. 
      </p>

    <h5 class="francois">2. Hangout com o Prefeito</h5>
    <p>
      O prefeito Eduardo Paes participará de uma conferência transmitida ao vivo pela internet, comentando os projetos vencedores e esclarecendo quanto à possibilidade de incluir uma ou mais no planejamento de 2016. 
    </p>


  </div>



</div>
