<div class="row">
  
  <div class="medium-12 medium-centered columns">
    <h2 class="text-center francois">Sobre</h2>
    <br/><br/>
    <h3 class="francois">O que é o Desafio Ágora Rio?</h3>
    <p>
      É a plataforma de discussão e proposição de políticas públicas da Prefeitura do Rio de Janeiro, criada para promover a participação direta da sociedade por meio de desafios temáticos. Desta vez, o assunto em debate é a mobilidade urbana do Rio que queremos.
    </p>


    <h3 class="francois">Como acontece o Desafio?</h3>
    <p>
      Cada ciclo temático é composto de fases que se sucedem envolvendo as áreas técnicas da Prefeitura e a população. Os cidadãos e cidadãs fazem um cadastro na plataforma e são informados de cada novidade, bem como sobre a transição de cada fase. Conheça as etapas que já foram concluídas até o momento:
    </p>
  </div>



</div>
