<div class="row">
  <div class="medium-5 medium-centered text-center columns">
    <div class="block">
      <%= image_tag 'confirmation.png', size: '200x200' %>
      <h3 class="francois">Valeu!</h3>

      <p>Agora falta pouco! Para finalizar, <strong>abra seu email e clique no link que acabamos de enviar</strong></p>


      <p style="font-size: .8em">
      Se o email não chegar depois de alguns minutinhos, veja se ele caiu na sua caixa de spam. Se ele não estiver lá, entre em contato com a gente pelo email <strong>contato@labrio.cc</strong>.
      </p>
    </div>
  </div>
</div>
