
<div class="full-image" style="background: url('<%= @proposal.image %>') no-repeat; background-size: cover">
  <h3 class="francois text-uppercase"><%= @proposal.title %></h3>
</div>

<div class="row">

  </div>
  <div class="medium-8 medium-centered columns">
    <p> <%= simple_format(@proposal.large_description) %></p>
  </div>
</div>
