<div class="row">
  <div class="medium-8 medium-centered columns">
    <%= link_to "Voltar", proposals_path %>
  </div>
  <div class="medium-8 medium-centered columns">
    <%= image_tag @proposal.image %>
    <h3 class="francois text-uppercase"><%= @proposal.title %></h3>
    <p> <%= @proposal.large_description %></p>
  </div>
</div>
