

<div class="row">
  <div class="medium-5 medium-centered text-center columns">
    <div class="block">
      <%= image_tag 'success.png', size: '200x200' %>
      <h3>Irado!</h3>

      <p>Seus votos foram salvos!</p>

      <p>Agora compartilhe o link de votação e chame seus amigos para participar também!</p>
      <p>
        <a href="" class="facebook button">Compartilhe no facebook</a>
        <br/>
        <a href="/proposals" class="facebook">Voltar à página de projetos</a>
      </p>
    </div>
  </div>
</div>
