//FontDef.
body
  font-family: 'Helvetica', Arial, sans-serif
  -webkit-font-smoothing: antialiased
  background: #EEEEEE

.text-uppercase
  text-transform: uppercase
.francois 
  font-family: 'Francois One'

.select-proposal:visited
  color: white

.button:hover, .select-proposal:hover, .see-more:hover
  background: white !important
  color: #004786 !important
.wrapping
  background: rgba(0,0,0,0.8)
  width: 100%
  height: 100%
  z-index: 2
  position: relative

.supper-button
  background: none !important
  border: 3px solid white
  color: white !important

#presentation:before
  content: ""
  background: image-url('bgimg.jpg')
  background-size: cover
  height: 100%
  width: 100%
  position: fixed
  z-index: 1
  -webkit-filter: blur(5px)

#presentation
  height: 100%
  p
    color: white
    margin: .8em auto
    background: #00487D 
    padding: 1em
  h2, h1
    color: white
  h1
    font-weight: bold
    margin-top: 15%
  .button
    background: #00BBF1
    text-transform: uppercase
    font-weight: 400
    letter-spacing: 1px
    color: black
    font-size: 1.3em
    padding: .4em 1.2em

#header 
  background: #C57FC1
  z-index: 10

.main-navigation 
  text-align: right
  margin-top: 1.4em
  a 
    display: inline-block
    margin: .4em .8em
    color: white
    padding: .4em .6em
    &:hover
      background: rgba(0,0,0,0.3)
      color: white
  
.logo img
  width: auto
  position: relative
  padding: .8em 0 

.proposals
  margin: 2.5em auto
  &:last-child
    margin-bottom: 6em

.proposal-wrapper
  margin-bottom: 1em

.about-proposal
  font-size: .9em
  padding-top: .4em
  margin-top: 1em
  color: #ccc
.proposal
  padding: 1.4em .8em
  min-height: 370px
  height: 100%
  background: white 
  box-shadow: 0 1px 1px #666
  overflow: hidden
  transition: all .2s
  position: relative
  .desc a
    color: #444

  h5
    font-size: 110% 
    top: 10%
    margin: auto 5%
    letter-spacing: 1px
    a
      color: #111
      font-weight: 300
  p
    font-size: .9em
    text-align: justify
    padding: 1.4em 0
  &.selected
    .image, .actions, .desc
      opacity: .1
.deselect
  background: rgba(255,255,255,0.8)
  display: block
  position: absolute
  opacity: 1
  z-index: 99
  text-align: center
  width: 100%
  height: 100%
  a
    color: #999
    display: inline-block
    font-size: 1.4em
    font-family: 'Francois One'
    position: absolute
    top: 25%
    right: 0
    left: 0
    width: 100%




.actions
  display: block
  clear: both
  text-align: center 
  bottom: 4%
  position: absolute
  width: 92%
  

.see-more, .select-proposal
  background: #C57FC1
  display: block
  padding: .4em .8em
  color: white
  font-family: 'Francois One'
  text-transform: uppercase
  font-size: .8em
  width: 100%
  &:hover 
    background: #00BBF1 
    color: #333

.see-more
  background: #FC9C00

.select-proposal.disabled
  background: #999



.full-image
  min-height: 150px
  h3
    color: white
    width: 60%
    margin: 0 auto
    text-align: center
    padding: 1.4em 0
    text-shadow: 0 1px 1px #333
    font-size: 220%
.proposal-text
  margin-top: 1.2em
  .coop
    background: #f9f9f9
    padding: .4em .8em 
    font-size: .8em
    &:hover
      background: #e9e9e9

.proposal-text p
  font-size: 1.1em
  text-align: justify
 
.proposal-text
  .select-proposal
    margin-top: 1.5em
    font-size: 1.2em



.fixed-save
  width: 100%
  background: rgba(230,230,230, .8)
  z-index: 9990
  height: 60px
  position: fixed
  bottom: 0
  .counter
    margin-top: 1.2em
  .button
    background: #004786
    color: white
    padding: .6em .8em
    font-family: 'Francois One'
    text-transform: uppercase
    width: 100%
    display: inline-block
    margin-top: .6em


.login-block
  background: #e9e9e9
  margin-top: 2em
  padding: .8em 1.5em

  a.facebook
    background: #3b5998
    color: white
    padding: .2em 1em
    width: 100%
    display: block
    font-size: 1.2em
    margin: .8em 0 1.5em 0
    font-family: 'Francois One'
    &:hover
      opacity: .8
  label
    font-family: 'Francois One'
    text-transform: uppercase

  input[type='submit']
    float: right
    margin-top: 1em

  .login
    background: #00AC6A
    font-family: 'Francois One'
    text-transform: uppercase


.nav-actions
  margin: 2em auto
  span
    display: block
    font-size: .8em
    color: #666


#error_explanation
  font-size: 90% 


.already-warning
  h3
    margin-top: 1.5em
.existing-proposals, .new-proposals
  background: #f6f6f6
  h5
    padding: .6em
    font-family: 'Francois One'
  h6
    font-weight: bold
    font-size: .8em
    background: white
    padding: .4em
  .proposal-block
    height: 200px
.block
  background: #f8f8f8
  padding: .6em
  margin-top: 2em


.fixed-msg
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background: rgba(240,240,240,0.95)
  z-index: 9999
  .save
    display: inline-block
    margin-left: .6em

  .selected-count, .left-counter
    color: #FC9C00 
.fixed-block
  margin-top: 14%

.submit, .clean-selection
  background: none !important
  border: 3px solid #333
  color: #333 !important

.close
  background: #999

.main-title
  margin-bottom: 0





.confirmation .error h2
  display: none
