//FontDef.
body
  font-family: 'Helvetica', Arial, sans-serif
  -webkit-font-smoothing: antialiased
.text-uppercase
  text-transform: uppercase
.francois 
  font-family: 'Francois One'


#presentation
  background: image-url('bg.png') 
  padding-top: 15%
  height: 100%
  p
    color: white
    margin: .8em auto
    background: #00487D 
    padding: 1em
  h2
    color: white

  .button
    background: #00BBF1
    text-transform: uppercase
    font-weight: 400
    letter-spacing: 1px
    color: black
    font-size: 1.4em

#header 
  background: #004786
  z-index: 10
  margin-bottom: .4em

.main-navigation 
  text-align: right
  margin-top: 1.4em
  a 
    display: inline-block
    background: #00AC6A
    margin: -1em .8em
    color: white
    padding: .4em .6em
  
.logo img
  width: 22%
  position: relative
  padding: .8em 0 

.proposals
  margin: 2.5em auto
  &:last-child
    margin-bottom: 6em

.proposal-wrapper
  margin-bottom: 1em
.proposal
  padding: 1.4em .8em
  height: 100%
  background: #f3f3f3
  box-shadow: 0 1px 1px #ccc
  h5
    text-transform: uppercase
    font-size: 120% 
    position: absolute
    color: white
    top: 10%
    width: 68%
    margin: auto 5%
    text-shadow: 0 1px 1px #333
    letter-spacing: 1px
  p
    font-size: .9em
    text-align: justify
    padding: 1.4em 0
  &.selected
    opacity: .3

.actions
  display: block
  text-align: right
  position: absolute
  bottom: 4%
  left: 22%
  

.see-more, .select-proposal
  background: #00AC6A
  display: inline-block
  margin-left: .4em
  padding: .4em .8em
  color: white
  font-family: 'Francois One'
  text-transform: uppercase
  font-size: .8em
  &:hover 
    background: #00BBF1 
    color: #333

.see-more
  background: #FC9C00

.select-proposal.disabled
  background: #999



.full-image
  min-height: 150px
  h3
    color: white
    width: 60%
    margin: 0 auto
    text-align: center
    padding: 1.4em 0
    text-shadow: 0 1px 1px #333
    font-size: 220%

.proposal-text p
  font-size: 1.2em
  font-family: 'Georgia'
.proposal-text
  .select-proposal
    font-size: 1.2em



.fixed-save
  width: 100%
  background: rgba(230,230,230, 1)
  height: 60px
  position: fixed
  bottom: 0
  .counter
    margin-top: 1.2em
  .button
    background: #004786
    color: white
    padding: .6em .8em
    width: 80%
    display: inline-block
    margin-top: .6em


.login-block
  background: #e9e9e9
  margin-top: 2em
  padding: .8em 1.5em

  a.facebook
    background: #3b5998
    color: white
    padding: .2em 1.4em
    display: block
    font-size: 1.2em
    margin: .8em 0 1.5em 0
  label
    font-family: 'Francois One'
    text-transform: uppercase

  input[type='submit']
    float: right
    margin-top: 1em

  .login
    background: #00AC6A
    font-family: 'Francois One'
    text-transform: uppercase
