//FontDef.

.francois 
  font-family: 'Francois One'


#presentation
  background: #004786
  padding-top: 2em
  height: 100%
  h2
    color: white
#header 
  background: #004786
  margin-bottom: 1em

.main-navigation 
  text-align: right
  margin-top: 1.4em
  a 
    display: inline-block
    background: white
    padding: .4em .8em
  
.logo img
  width: 20%
  position: relative
  top: .6em


.proposals
  .end
    margin-top: 1em
    margin-bottom: 1em

.proposal
  padding: 1.4em .8em
  background: #f9f9f9
  h5
    text-transform: uppercase
    font-size: 1.1em !important
  p
    font-size: .9em
    text-align: justify

.actions
  display: block
  text-align: right

.see-more, .select-proposal
  background: #00AC6A
  display: inline-block
  margin-left: .4em
  padding: .4em .8em
  color: white
  font-family: 'Francois One'
  text-transform: uppercase
  font-size: .8em
