<p>
  Opa! Acabamos de receber seus votos no Desafio Ágora Rio: Mobilidade Urbana, mas para que eles sejam contabilizados precisamos que você clique no link abaixo:
</p>


<p>
  <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>
</p>

<p>
  Essa validação serve para garantirmos a confiabilidade no sistema de votação! ;)
</p>

<p>
Obrigado por sua participação!<br/>
  Equipe Ágora Rio
</p>
